*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    overflow: hidden;
}

#title{
    border: black solid;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    background-color: darkgray;
    text-align: center;
    text-shadow: white 0px 5px 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

#msgs{
    border: black solid;
    height: 520px;
    border-radius: 10px;
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

#usuarios{
    border-radius: 10px;
    background-color: gray;
    border-bottom: black solid;
}

ul{
    font-size: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 10px;
}

#bot, #voce{
    background-color: darkgray;
    padding: 10px;
    border-radius: 10px;
}
#bot:hover, #voce:hover{
    color: white;
}

#mensagens{
    border-radius: 10px;
    background-color: white;
    margin: 30px;
    padding: 20px;
    height: 360px;
    word-wrap: break-word;
    overflow: scroll;
    overflow-x: hidden;
    line-height: 30px;
}

#buttons{
    border: black solid;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
    background-color: darkgray;
    text-align: center;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(350, 100);
    gap: 0px;
}

.button{
    background-color: gray;
    border: solid black 3px;
    border-top: none;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
}

#escrever{
    word-wrap: break-word;
    margin: 15px;
    width: 600px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border: solid;
    outline: none;
}

#enviar{
    margin: 15px;
}

#enviar:hover{
    color: white;
    cursor: pointer;
}

#apagar{
    padding: 10px;
    margin-bottom: 35px;
    border-radius: 10px;
    font-size: 20px;
    border: solid black;
    color: black;
    background-color: white;
}

#apagar:hover{
    color: white;
    background-color: darkgray;
}